<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProdApp Footer</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="/components/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <footer id="footer">
      <div class="footer-container">
        <div class="footer-right">
          <p>Follow us on:</p>
          <ul class="social-links">
            <li>
              <a href="linkedin.com" target="_blank"
                >Linked in <i class="fab fa-linkedin-in clove"></i
              ></a>
            </li>
            <li>
              <a href="github.com" target="_blank"
                >Github <i class="fab fa-github clove"></i
              ></a>
            </li>
            <li>
              <a href="twitter.com" target="_blank"
                >Twitter <i class="fab fa-x-twitter clove"></i
              ></a>
            </li>
            <li>
              <a href="facebook.com" target="_blank"
                >Facebook <i class="fab fa-facebook-f clove"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2025 ProdApp. All rights reserved.</p>
          <p>Designed by Kamalakar</p>
        </div>
      </div>
    </footer>
    <script src="/components/footer.js" defer></script>
  </body>
</html>
