<header>
  <nav class="navbar">
    <a href="/"><div class="logo">ProdApp</div></a>
    <ul class="nav-links">
      <li>
        <a class="nav-link" href="/" class="active">Dashboard</a>
      </li>
      <li>
        <a class="nav-link" href="/pages/logtracker/index.html">Log Tracker</a>
      </li>
      <li>
        <a class="nav-link" href="/pages/todo/index.html">To-Do List</a>
      </li>
      <li>
        <a class="nav-link" href="/pages/planner/index.html">Planner</a>
      </li>
      <li>
        <a class="nav-link" href="/pages/focus/index.html">Focus Session</a>
      </li>
      <li>
        <a class="nav-link" href="/pages/pomodoro/index.html">Pomodoro Timer</a>
      </li>
      <li>
        <a class="nav-link" href="/pages/calendar/index.html">Calendar</a>
      </li>
      <li>
        <a class="nav-link" href="/pages/reminders/index.html">Reminders</a>
      </li>
      <li>
        <a class="nav-link" href="/pages/analytics/index.html">Analytics</a>
      </li>
      <li>
        <a class="nav-link" href="/pages/clients/index.html">Clients</a>
      </li>
    </ul>
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
