<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../components/nav.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/"><div class="logo">ProdApp</div></a>
        <ul class="nav-links">
          <li>
            <a class="nav-link" href="/" class="active">Dashboard</a>
          </li>
          <li>
            <a class="nav-link" href="/pages/logtracker/index.html"
              >Log Tracker</a
            >
          </li>
          <li>
            <a class="nav-link" href="/pages/todo/index.html">To-Do List</a>
          </li>
          <li>
            <a class="nav-link" href="/pages/planner/index.html">Planner</a>
          </li>
          <li>
            <a class="nav-link" href="/pages/focus/index.html">Focus Session</a>
          </li>
          <li>
            <a class="nav-link" href="/pages/pomodoro/index.html"
              >Pomodoro Timer</a
            >
          </li>
          <li>
            <a class="nav-link" href="/pages/calendar/index.html">Calendar</a>
          </li>
          <li>
            <a class="nav-link" href="/pages/reminders/index.html">Reminders</a>
          </li>
          <li>
            <a class="nav-link" href="/pages/analytics/index.html">Analytics</a>
          </li>
          <li>
            <a class="nav-link" href="/pages/clients/index.html">Clients</a>
          </li>
        </ul>
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>

    <!-- Main Content -->
    <main>
      <!-- To-Do List will be dynamically generated here -->
    </main>

    <!-- JavaScript -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
